.BtnAgregarCarro{
    border-radius: 3px;
    background-color: #c99f0b;
    color: white;
    width: 15rem;
    height: 2rem;
    border-radius: 2%;
    border: none;
}

.BtnAgregarCarro:active{
    transform: scale(0.98);
}


.SumaResta{
    background-color: #c99f0b;
    border-radius: 35%;
    border: none;
    margin-left: .3rem;
    color: white;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
}